@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/**
palette:
color1 : #222831
color2 : #393E46
color3 : #FFD369
color4 : #EEEEEE
*/
nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #EEEEEE;
  width: 300px;
  height: 100vh;
}
nav a {
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
nav li {
  padding: 10px;
  list-style: none;
  color: #393E46;
  cursor: pointer;
  border-bottom: rgba(57, 62, 70, 0.2) 1px solid;
}
nav li:hover {
  background-color: rgba(255, 211, 105, 0.2);
  border-bottom-color: #FFD369;
}
nav .subnav {
  display: flex;
  background-color: #222831;
}

nav .burgerButton {
  cursor: pointer;
  display: none;
}

h1 {
  padding-left: 20px;
  color: white;
}

nav .brand {
  margin: 10px;
  cursor: pointer;
}

nav .subnav > div {
  display: flex;
  margin-left: 20px;
}

/*-----------------------------------------------------
                    Menu Mobile :
-----------------------------------------------------*/
@media screen and (max-width: 600px) {
  nav {
    position: fixed;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    background-color: transparent;
    height: auto;
  }

  nav ul {
    background-color: #EEEEEE;
    z-index: 1;
    flex-direction: column;
    margin-top: -10px;
    padding-bottom: 20px;
    display: none;
  }

  .subnav {
    z-index: 10;
  }

  nav li {
    z-index: 2;
    margin-top: 20px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
  }

  nav .burgerButton {
    margin: 10px;
    cursor: pointer;
    display: flex;
  }

  nav > .subnav > div {
    display: none;
  }

  #message,
h2,
label,
p {
    font-size: 1em;
  }

  /* centrage*/
  #global {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    /* largeur obligatoire pour être centré */
  }
}
/*-----------------------------------------------------
                Animation Menu Mobile :
-----------------------------------------------------*/
@keyframes slidein {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideout {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
#global {
  margin-left: 300px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  #global {
    margin-top: 70px;
    margin-left: 0;
  }
}
html * {
  font-family: "Roboto", sans-serif;
}

/*-----------------------------------------------------
        Suppression marge et padding desktop :
-----------------------------------------------------*/
body,
html {
  margin: 0;
  padding: 0;
}