@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import './menu.scss';
@import './global.scss';

html * {
    font-family: "Roboto", sans-serif;
}
/*-----------------------------------------------------
        Suppression marge et padding desktop :
-----------------------------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
}



